* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size:  1.6rem;
    font-family: "Poppins", sans-serif;

}

/* Common */
.main-content  {
    width: 1170px;
    margin-left: auto;
    margin-right: auto;
    max-width: calc(100% - 48px);
}

a {
    text-decoration: none;
}

.btn {
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75rem;
    border-radius: 24.5px;
    background: #171100;
    padding: 11px 41px;
    min-width:  118px;
    height: 50px;
}
/* Header */
.header-fixed {
    position: sticky;
    top: -20px;
    padding: 36px 0 0;
    background: #FFFCF4;
}

.header-fixed .body {
    display: flex;
    align-items: center;
}

.header-fixed .navigation {
    display: flex;
    gap: 40px;
    padding: 21px;
    margin-right: 49px;
}

.header-navigation {
    margin-left: auto;
}

.header-fixed .navigation .nav a {
    color: #5F5B53;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.header-fixed .header-navigation li:first-child a {
    color: #171100;
    font-weight: 600;
}

.header-fixed .header-navigation li:first-child {
    position: relative;
}

.header-fixed .header-navigation li:first-child a::after {
    display: inline-block;
    content: "";
    width: 12px;
    height: 2px;
    border-radius: 1px;
    background: #171100;
    position: absolute;
    bottom: 0;
    left: 0;
}

.header-fixed .action a  {
    min-width: 144px;
    height: 50px;
}

.hero {
    padding-top: 72px;
    display: flex;
    background: #FFFCF4;
}

.hero .body {
    display: flex;
}

.hero .body .images {
    flex: 1;
}

.hero .body .text {
    flex: 1;
}

.hero .card {
    position: absolute;
    width: 270px;
    height: 244px;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.05);
    bottom: 24px;
    right: 0;
}

.hero .sum {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hero .sub-sum {
    width: 183px;
    height: 56px;
    display: flex;
    margin-bottom: 14px;
}

.hero .images {
    position: relative;
}

.card .sum {
    padding-top: 24px;
    padding-left: 24px;
}

.images .block .desc {
    color: #5F5B53;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.86;
}

.image .block .hero-content {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero .text {
    margin-left: 110px;
    display: flex;
    flex-direction: column;
    margin-top: 64px;
}

.hero .text .heading-1 {
    width: 470px;
    font-family: Sen, san-serif;
    color: #171100;
    font-size: 5.8rem;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: -1.16px;
}

.hero .text .desc {
    color: #5F5B53;
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.67;
}

.hero .text .hero-nav {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero .text .btn {
    background: #FFB900;
    border-radius: 32px;
    min-width: 180px;
    color: #FFF;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.hero .text .hero-img {
    width: 80px;
    height: 80px;
    margin-left: 28px;
    margin-right: 14px;
    margin-top: 12px;

}

.hero .text .action {
    color: #171100;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;

}

.hero .text .detail {
    margin-top: 48px;
}

.hero .detail .qty {
    display: flex;
    gap: 28px;
}

.hero .detail .qty .sub-qty {
    display: flex;
    align-items: end;
    gap: 20px;
}

.hero .detail .qty .sub-qty .desc {
    margin-top: 3px;
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.66;
}

.hero .detail .qty .sub-qty .amount {
    color: #171100;
    font-family: Sen;
    font-size: 4.4rem;
    font-weight: 700;
    line-height: 1.23;
}

.popular .heading-2 {
    color: #171100;
    font-family: Sen;
    font-size: 3.8rem;
    font-weight: 700;
    line-height: 1.26; 
    letter-spacing: -0.76px;
    margin-top: 200px;
}

.popular .desc {
    color: #5F5B53;
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.67;
    width: 458px;
    margin-top: 10px;
}





















